<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/personal.css}" rel="stylesheet" />
    <script th:src="@{/js/personal.js}" type="text/javascript"></script>
</head>

<title>&lt;DESARROLLO WEB&gt;</title>
</head>

<body>
    <header id="header">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </header>
    <img id="background" src="/img/udcPiedra.jpg" alt="UdC">

    <div id="menu-index-user-container" class="menu-container">
        <h1 class="tituloForm">MENU USUARIO</h1>
        <a th:href="@{/}"><img id="home-icon" src="/img/home.png"></a>
        <div id="menu-index-user" class="menu">
            <ul>
                <a th:href="@{/usuario/}">|INICIAR SESION|</a>
                <a th:href="@{/usuario/agregar}">|REGISTRARSE|</a>
            </ul>
        </div>        
    </div>
    
    
    

    <footer id="footer">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </footer>
</body>

</html>