<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/personal.css}" rel="stylesheet" />
    <title>LISTAR USUARIOS</title>
</head>
<body>
    <h1>LISTAR</h1>
    <table class="tabla2">
        <tr>
            <th>CEDULA</th>
            <th>CLAVE</th>
            <th>NOMBRE</th>
            <th>TELEFONO</th>
            <th>EMAIL</th>
        </tr>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.cedula}"></td>
            <td th:text="${usuario.clave}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.telefono}"></td>
            <td th:text="${usuario.email}"></td>
        </tr>
    </table>
    <a th:href="@{/usuario/index}">Regresar USUARIO</a>
</body>
</html>