<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/personal.css}" rel="stylesheet" />
    <script th:src="@{/js/personal.js}" type="text/javascript"></script>
    <title>Log in</title>
</head>

<body>
    <header id="header">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </header>
    <img id="background" src="/img/udcPiedra.jpg" alt="UdC">


    <div id="menu-ppal-container" class="menu-container">
        <h1 class="tituloForm">BIENVENID@</h1>
        <div id="menu-ppal" class="menu">
            <ul>
                <a th:href="@{/}">|INICIAR SESION|</a>
            </ul>
        </div>
    </div>

    <form th:action="@{/login}" method="post" id="log-in" class="contenedorLogin" th:object="${usuario}">
        <a id="btn-x" onclick="hideElement('log-in');">x</a>
        <table>
            <tr>
                <h2 class="tituloForm">INICIAR SESION</h2>
            </tr>
            <tr>
                <center>
                    <input type="text" name="cedula" placeholder="Introduzca su Cédula">
                    <input type="password" name="clave" placeholder="Introduzca su Contraseña">
                </center>
            </tr>
            <tr>
                <center>
                    <input type="submit" id="loginBtn" name="sesion" value="Iniciar sesión">
                    
                    <a id="siginBtn" name="registro" th:href="@{/usuario/agregar}">Registrarse</a>

                    <a id="recoveryPass" href="#">Olvidaste tu contraseña?</a>
                </center>
            </tr>
        </table>
    </form>

    <div id="studentData" class="cuadroInfo">
        <h3>EJERCICIO 6</h3>
        <br>
        <h3>Integrantes de CIPA</h3>
        <p>ROBERTO CARLOS ANGULO TINOCO COD:7502010009</p>
        <p>VINCENT ARTURO ROLONG MARQUEZ COD:7502010020</p>
        <br>
        <h3>Tutor</h3>
        <p>JHON CARLOS ARRIETA ARRIETA</p>
        <br>
        <h3>Asignaturas</h3>
        <p>DESARROLLO DE SOFTWARE WEB & BASES DE DATOS II</p>
    </div>

    <footer id="footer">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </footer>
</body>

</html>