<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/personal.css}" rel="stylesheet" />
    <script th:src="@{/js/personal.js}" type="text/javascript"></script>
    <title>RECUPERAR CLAVE</title>
</head>

<body>
    <header id="header">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </header>

    <img id="background" src="/img/udcPiedra.jpg" alt="UdC">

    <div id="menu-ppal-container" class="menu-container">
        <h1 class="tituloForm">BIENVENID@</h1>
        <div id="menu-ppal" class="menu">
            <ul>
                <a th:href="@{/}">|INICIAR SESION|</a>
            </ul>
        </div>
    </div>

    <form th:action="@{/recoverypass}" method="post" id="log-in" class="contenedorLogin" th:object="${usuario}">
        <a id="btn-x" onclick="hideElement('log-in');">x</a>
        <table>
            <tr>
                <h2 class="tituloForm">RECUPERAR CONTRASEÑA</h2>
            </tr>
            <tr>
                <center>
                    <label for="cedula">Ingrese su cédula para enviarle un correo con la clave</label>
                    <input type="text" name="cedula" placeholder="Introduzca su Cédula" required>
                </center>
            </tr>
            <tr>
                <center>
                    <input type="submit" id="recoveryBtn" name="recovery" value="Enviar solicitud">
                </center>
            </tr>
        </table>
    </form>

    <div id="studentDataRecovery" class="cuadroInfo">
        <div th:if="${usuarioBuscado} != null">
            <h2>HEMOS ENVIADO UN CORREO A
                <h3 th:text="${mail}"></h2>
            </h3>
        </div>
        <div th:if="${noExiste} == 1">
            <h2>NO EXISTE UN USUARIO CON LA CEDULA INGRESADA</h2>
        </div>
    </div>

    <footer id="footer">
        <h1>&lt; DESARROLLO WEB &gt;</h1>
    </footer>
</body>

</html>