<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA MUNDO</h1>
    <p th:text="${mensaje}"></p>
    <p th:text="${saludo}"></p>
    
        <table>
            <!-- Edad Email Telefono Direccion Ciudad -->
            <th>CEDULA</th>
            <th>CLAVE</th>
            <th>NOMBRE</th>
            <th>TELEFONO</th>
            <th>EMAIL</th>

            <tr th:each="usuario:${usuarios}">
                <td th:text="${usuario.cedula}"></td>
                <td th:text="${usuario.clave}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.telefono}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </table>
</body>
</html>